@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow: hidden;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* have */

.have{
    padding: 10px 0;
}

.have .have__container .have__content{
    display: flex;
    justify-content: space-between;
}

.have .have__container .have__content .have__text{
    display: flex;
}

.have .have__container .have__content .have__text h6{
    font-size: 15px;
}

.have .have__container .have__content .have__text .have__number{
    margin: 0 30px;
}

.have .have__container .have__content .have__text .have__number span i{
    margin-right: 10px;
}

.have .have__container .have__content .have__text .have__email span i{
    margin-right: 10px;
}

.have .have__container .have__content .have__icon i{
    margin: 0 15px;
}

/* header */
.header{
    background-color: #0abf53;
}   

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 100;
}

.header .header__container .header__content h1{
    color: #fff;
    font-size: 25px;
    position: relative;
}

.header .header__container .header__content h1::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 20px;
    background-color: #fff;
    top: 15px;
    left: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header .header__container .header__content .header__mobile{
    display: none;
}

.header .header__container .header__content h1 span{
    font-size: 40px;
    font-weight: 400;
}

.header .header__container .header__content .header__menu{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__menu .header__icon i{
    margin: 0 15px;
    font-size: 20px;
    color: #fff;
}

.header .header__container .header__content .header__menu .header__icon i:first-child{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: black;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
    list-style: none;
}

.header .header__container .header__content .header__menu ul li{
    margin: 0 15px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
}

/* header */

/* banner */

.banner{
    background-image: url(./img/vadim-sadovski-qfLjUib-UJk-unsplash.jpg);
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner .banner__container{
    position: relative;
    height: 100%;
}

.banner .banner__container .banner__content{
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 30px 45px;
    width: 50%;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}


.banner .banner__container .banner__content h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner .banner__container .banner__content p{
    color: #707070;
    font-weight: 600;
    line-height: 30px;
}

.banner .banner__container .banner__content a{
    text-decoration: none;
    font-weight: 600;
    padding: 15px 40px;
    background-color: #0abf53;
    display: inline-block;  
    margin-top: 30px;
}


/* banner */

/* since */
.since{
    padding: 48px 0;
}

.since .since__container{
    padding: 48px 0;
}

.since .since__container .since__content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
}

.since .since__container .since__content .max-width{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.mt-lg-0{
    margin-top: 0 !important;
}

.since .since__container .since__content .since__left{
    position: relative;
    z-index: 0;
}

.since .since__container .since__content .since__left img{
    max-width: 100%;
    display: block;
}


.since .since__container .since__content .since__left .img{
    width: 300px;
    object-fit: cover;
    height: auto;
}

.since .since__container .since__content .since__left .img2{
    width: 300px;
    object-fit: cover;
    height: auto;
    right: 0;
    top: 15%;
    z-index: 1;
    position: absolute;
    border-left: 5px solid #fff;
    border-top: 5px solid #fff;
}

.since .since__container .since__content .since__left .img3{
    margin-right: 3rem !important;
}

.since .since__container .since__content .since__right h5{
    font-size: 30px;
    font-weight: 350;
}

.since .since__container .since__content .since__right h5 span{
    padding: 0px 10px;
    background-color: #0abf53;
    color: #fff;
    font-weight: 300;
}

.since .since__container .since__content .since__right h3{
    margin: 30px 0;
    font-size: 45px;
    font-weight: 500;
    font-weight: 400;
}

.since .since__container .since__content .since__right h3 span{
    color: #0abf53;
}

.since .since__container .since__content .since__right .des1{
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    line-height: 28px;
    margin: 30px 0;
}

.since .since__container .since__content .since__right .des2{
    font-size: 15px;
    color: #707070;
    line-height: 28px;
    font-weight: 600;
}

.since .since__container .since__content .since__right img{
    margin-top: 40px;
    display: block;
}


/* since */

/* wwd */
.wwd{
    padding: 48px 0;
    background-color: #e6e4e41f;
    
}

.wwd .wwd__container{
    padding: 48px 0;
}

.wwd .wwd__container .wwd__content .wwd__des{
    text-align: center;
    font-weight: 300;
}

.wwd .wwd__container .wwd__content .wwd__hd{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
}

.wwd .wwd__container .wwd__content .wwd__hd span{
    color: #0abf53;
    font-weight: 500;
}

.wwd .wwd__container .wwd__content .wwd__bottom{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 15px;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item{
    padding: 40px 30px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    box-shadow: 0 0.125rem 0.25rem  rgba(233, 233, 233, 0.863);
    transition: all 0.3s linear;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item:hover{
    box-shadow: 0px 17px 26px -16px rgba(143, 143, 143, 0.863);
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .fa-leaf{
    font-size: 40px;
    color: #0abf53;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text h3{
    font-size: 23px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item:hover .wwd__text h3{
    color: #0abf53;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text p{
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    margin: 20px 0;
    line-height: 28px;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    align-items: center;
    display: block;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text a:hover{
    color: #0abf53;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text a i{
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all .wwd__item .wwd__text a:hover i{
    transform: translateX(10px);
}


/* wwd */

/* services */
.services{
    padding: 48px 0;
}

.services .services__container{
    padding: 48px 0;
}

.services .services__container .services__content .services__des{
    text-align: center;
}

.services .services__container .services__content h3{
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
}

.services .services__container .services__content h3 span{
    color: #0abf53;
}

.services .services__container .services__content .services__all{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.services .services__container .services__content .services__all .services__item{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.services .services__container .services__content .services__all .services__item .services__icon{
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s linear;
}

.services .services__container .services__content .services__all .services__item .services__icon:hover{
    box-shadow: 0px 17px 26px -16px rgb(136, 136, 136);
}

.services .services__container .services__content .services__all .services__item .services__icon img{
    max-width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.services .services__container .services__content .services__all .services__item .services__icon .img{
    width: 400px;
    height: auto;
    object-fit: cover;
}


.services .services__container .services__content .services__all .services__item .services__text{
    padding: 30px;
    background-color: #f3f3f3;
}

.services .services__container .services__content .services__all .services__item .services__text h5{
    font-size: 25px;
    margin-bottom: 20px;
}

.services .services__container .services__content .services__all .services__item .services__text p{
    color: #707070;
    line-height: 28px;
    font-size: 16px;
    font-wight: 500;
}

/* services */

/* about */
.about{
    padding-top: 48px;
}

.about  .about__container{
    padding-top: 48px;
}

.about .about__container .about__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about .about__container .about__content .about__image{
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about__container .about__content .about__image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.about .about__container .about__content .about__text{
    flex: 0 0 60%;
    max-width: 60%;
}

.about .about__container .about__content .about__text .about__des{
    text-align: center;
    font-weight: 300;
}

.about .about__container .about__content .about__text h3{
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.about .about__container .about__content .about__text h3 span{
    color: #0abf53;
}

.about .about__container .about__content .about__text .about__all{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.about .about__container .about__content .about__text .about__all .about__item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px 0;
    margin-bottom: 30px;
}

.about .about__container .about__content .about__text .about__all .about__item .about__icon{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.about .about__container .about__content .about__text .about__all .about__item .about__icon i{
    font-size: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #0abf53;
    color: #fff;
    border-radius: 50%;
}

.about .about__container .about__content .about__text .about__all .about__item .about__icon .about__paragrap h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.about .about__container .about__content .about__text .about__all .about__item .about__icon .about__paragrap p{
    color: #707070;
    line-height: 28px;
}


/* about */

/* beautiful */
.beautiful{
    background-image: url(./img/img4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    padding: 48px 0;
}

.beautiful::after{
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    z-index: -1;
}

.beautiful .beautiful__container{
    padding: 48px 0;
}

.beautiful .beautiful__container .beautiful__content{
    color: #fff;
    text-align: center;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.beautiful .beautiful__container .beautiful__content h3{
    font-size: 50px;
}

.beautiful .beautiful__container .beautiful__content p{
    font-size: 17px;
    margin: 30px;
}

.beautiful .beautiful__container .beautiful__content a{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    padding: 10px 30px;
    margin: 0  5px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.beautiful .beautiful__container .beautiful__content a:hover{
    background-color: #0a8f3f;
    color: #fff;
}

.beautiful .beautiful__container .beautiful__content a:last-child{
    background-color: #0abf53;
    color: #fff;
}

/* beautiful */

/* happy */

.happy{
    padding: 48px 0;
}

.happy .happy__container{
    padding: 48px 0;
}

.happy .happy__container .happy__content .happy__des{
    text-align: center;
    font-weight: 300;
}

.happy .happy__container .happy__content .happy__heading{
    font-size: 45px;
    font-weight: 400;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.happy .happy__container .happy__content .happy__heading span{
    color: #0abf53;
}

.happy .happy__container .happy__content .happy__people{
    display: flex;
}

.happy .happy__container .happy__content .happy__people .happy__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text h4{
    font-size: 20px;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text p{
    font-size: 16px;
    color: #707070;
    margin: 30px 0;
    font-weight: 500;
    line-height: 30px;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text .happy__image{
    font-size: 19px;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text ul{
    list-style: none;
    display: flex;
    margin: 10px 0;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text ul li{
    margin-right: 5px;
    color: #0abf53;
    
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .fa-quote-left{
    font-size: 50px;
    color: #0abf53;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text img{
    display: block;
    max-width: 100%;
}

.happy .happy__container .happy__content .happy__people .happy__item .happy__icon .happy__text .img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

/* happy */

/* footer */
.footer{
    padding: 48px 0;
    background-color: #000;
}

.footer .footer__container{
    padding: 48px 0;
}

.footer .footer__container .footer__top{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #a0a0a07c;
    padding-bottom: 40px;
}

.border{
    
}

.footer .footer__container .boder{
    margin-bottom: 40px;
}

.footer .footer__container .footer__top h3{
    font-size: 30px;
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;
    
}

.footer .footer__container .footer__top h3::after{
    content: "";
    height: 5px;
    width: 20px;
    position: absolute;
    background-color: #FFF;
    top: 10px;
    left: 50px;
}

.footer .footer__container .footer__top h3 span{
    font-size: 40px;
}


.footer .footer__container .footer__top p{
    flex: 0 0 60%;
    max-width: 60%;
    border-left: 1px solid #a0a0a07c;
    padding-left: 20px;
    color: #dadada7c;
    line-height: 30px;
}


.footer .footer__container .footer__top .footer__icon{
    flex: 0 0 20%;
    max-width: 20%;
    text-align: right;
}

.footer .footer__container .footer__top .footer__icon i{
    margin-left: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #707070;
    transition: all 0.3s linear;
    color: #fff;
}

.footer .footer__container .footer__top .footer__icon i:hover{
    background-color: #0ae763;
}

.footer .footer__container .footer__all{
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.footer .footer__container .footer__all .Archives{
    flex: 0 0 23.3333%;
    max-width: 23.3333%;
}

.footer .footer__container .footer__all .Newsletter{
    flex: 0 0 30%;
    max-width: 30%;
}

.footer .footer__container .footer__all .footer__bottom h4{
    font-size: 18px;
    margin-bottom: 30px;
}

.footer .footer__container .footer__all .footer__bottom ul{
    list-style: none;
}

.footer .footer__container .footer__all .footer__bottom ul li{
    margin: 30px 0;
    color: #707070;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

.footer .footer__container .footer__all .footer__bottom ul li i{
    margin: 0 10px;
}

.footer .footer__container .footer__all .footer__bottom ul li:hover{
    color: #fff;
}   

.footer .footer__container .footer__all .footer__bottom .footer__email{
    display: grid;
    grid-template-columns: 1fr auto;
}

.footer .footer__container .footer__all .footer__bottom .footer__email input{
    height: 45px;
    font-size: 15px;
    padding: 0 20px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.footer .footer__container .footer__all .footer__bottom .footer__email button{
    width: 70px;
    color: #fff;
    background-color: #0ae763;
    border: none;
    border-radius: 5px;
}


.footer .W3Layouts{
    color: rgb(156, 155, 155);
    text-align: center;
}
.footer .W3Layouts a{
    color: #fff;
    text-decoration: none;
}



footer