.container{
    max-width: 350px;
}

.header .header__container .header__content .header__menu ul{
    display: block;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    width: 70%;
    height: 100vh;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ffe4c4;
    text-align: center;
    padding-top: 100px;
    transform: translateX(-150%);
    transition: all 0.5s linear;
}

.header .header__container .header__content .header__menu ul.active{
    transform: translateX(0%);
}

.header .header__container .header__content .header__menu ul li{
    margin: 30px 0;
}

.header .header__container .header__content .header__menu .header__icon{
    display: none;
}

.header .header__container .header__content .header__menu ul li{
    color: black;
}

.header .header__container .header__content .header__mobile{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__mobile i{
    font-size: 20px;
    margin: 0 5px;
    color: #fff;
}

.header .header__container .header__content .header__mobile .fa-search{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: black;
}

.header .header__container .header__content .header__mobile .fa-bars{
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 5px;
    outline: none;
}

.banner .banner__container .banner__content h3{
    font-size: 25px;
}

.banner .banner__container .banner__content{
    width: 100%;
    margin: 0px;
}

.since .since__container .since__content .since__right h5{
    font-size: 20px;
}

.since .since__container .since__content .since__right h3{
    font-size: 32px;
}

.since .since__container .since__content .max-width{
    padding: 0px;
}

.since .since__container .since__content{
    margin: 0px;
}

.since .since__container .since__content .since__left .img{
    width: 200px;
}

.services .services__container .services__content h3{
    font-size: 30px;
}

.services .services__container .services__content .services__all .services__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.services .services__container{
    padding: 0px;
}

.about .about__container{
    padding: 0px;
}

.about .about__container .about__content .about__text .about__all .about__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about__container .about__content .about__text .about__all{
    margin: 0px;
}

.beautiful .beautiful__container .beautiful__content{
    width: 100%;
    margin: 0px;
}

.beautiful .beautiful__container .beautiful__content h3{
    font-size: 25px;
}

.happy .happy__container .happy__content .happy__heading{
    font-size: 25px;
    width: inherit;
}

.happy .happy__container .happy__content .happy__people .happy__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__top h3{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__top p {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0;
}

.footer .footer__container .footer__all .Archives{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__all .Newsletter {
    flex: 0 0 100%;
    max-width: 100%;
}
