.container{
    max-width: 700px;
}

.have{
    display: none;
}

.banner .banner__container .banner__content{
    width: 70%;
    margin-left: 40px;
}

.since .since__container .since__content .max-width{
    flex: 0 0 100%;
    max-width: 100%;
}

.mt-lg-0{
    order: 2;
    margin-top: 20px;
}

.since .since__container .since__content .since__left .img3{
    margin-right: 0rem!important;
}

.wwd .wwd__container .wwd__content .wwd__bottom{
    margin: 0px;
}

.wwd .wwd__container .wwd__content .wwd__bottom .wwd__all{
    flex: 0 0 100%;
    max-width: 100%;
}

.services .services__container .services__content .services__all .services__item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}

.services .services__container .services__content .services__all{
    justify-content: center;
}

.about .about__container .about__content .about__image{
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
}

.about .about__container .about__content .about__image img{
    margin: 0 auto;
}

.about .about__container .about__content .about__text{
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
}

.footer .footer__container .footer__top h3{
    flex: 0 0 30%;
    max-width: 30%;
}

.footer .footer__container .footer__top p{
    flex: 0 0 70%;
    max-width: 70%;
}

.footer .footer__container .footer__top .footer__icon{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
    margin-top: 30px;
}

.footer .footer__container .footer__all .Archives{
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
}

.footer .footer__container .footer__all .Get{
    flex: 0 0 40%;
    max-width: 40%;
}

.footer .footer__container .footer__all .Newsletter{
    flex: 0 0 70%;
    max-width: 70%;
}